.donutlevel-wrapper {
	width: 17%;
	height: 253px;
	background-color: #0A3D62;
	box-shadow: 1px 1px 10px 2px #F3F3F3;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.donutlevel-wrapper > div:first-child {
	width: 59px;
	height: 26px;
	background-color: #F9DA49;
	box-shadow: 0px 0px 46px 5px rgba(253, 250, 208, 0.44);
	border-radius: 5px;
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: 275;
	font-size: 15px;
	text-align: center;
	align-self: flex-end;
	margin: 15px 15px 30px 0;
}

.donutlevel-wrapper canvas {
	width: 103px;
	height: 103px;
}

.donutlevel-wrapper .doughnut-wrapper {
	position: relative;
}

.donutlevel-wrapper .doughnut-wrapper .d-percentage {
	top: 32px;
	left: 26px; /* Rajouter plus tard si nécessaire la prise en compte du nombre de chiffres */
	position: absolute;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	color: #F9DA49;
}

.donutlevel-wrapper > div:last-child {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	color: #D9D9D9;
	margin-top: 22px;
}