/*	GLOBAL	*/
.authstart_wrapper, .auth2fa_wrapper, .authnameavatar_wrapper {
	position: absolute;
	z-index: 2;
	top:20%;
	right:10%;
	width: 25%;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	background-color: #F9DA49;
	border-radius: 30px;
}

/*	START	*/
.authstart_wrapper {
	height: 27%;
}

.authstart_wrapper .title_wrapper {
	margin-bottom: 60px;
}

/*	2FA	*/
.auth2fa_wrapper {
	height: 36%;
}

.auth2fa_wrapper .title_wrapper {
	margin-bottom: 40px;
}

.auth2fa_wrapper .input_wrapper {
	margin-bottom: 30px;
}

/*	Name & Avatar	*/
.authnameavatar_wrapper {
	height: 57%;
}

.authnameavatar_wrapper .title_wrapper {
	width: 62%;
	margin-bottom: 10px;
}

.authnameavatar_wrapper .input_wrapper {
	margin-bottom: 8px;
}

.authnameavatar_wrapper .carousel-wrapper {
	height: 38%;
	width: 86%;
}

/* MOBILE */

@media screen and (max-width: 820px) {

	.authstart_wrapper, .auth2fa_wrapper, .authnameavatar_wrapper {
		width:90%;
		right: 5%;
		left:5%;
		top:5%;
		align-items: center;
	}

}