/*	GLOBAL	*/
.authstart-wrapper, .auth2fa-wrapper, .authnameavatar-wrapper, .auth2faconfig-yes-wrapper, .auth2faconfig-no-wrapper {
	position: absolute;
	z-index: 2;
	top: 12%;
	right: 15%;
	width: 25%;
	min-width: 400px;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	
	background-color: #F9DA49;
	border-radius: 30px;
}

/*	START	*/
.authstart-wrapper {
	height: 304px;
}

.authstart-wrapper .title-wrapper {
	margin-top: 60px;
	margin-bottom: 81px;
}

/*	2FA	*/
.auth2fa-wrapper {
	height: 406px;
}

.auth2fa-wrapper .title-wrapper {
	margin-top: 60px;
	margin-bottom: 61px;
}

.auth2fa-wrapper .input-wrapper {
	margin-bottom: 61px;
}

/*	Name & Avatar	*/
.authnameavatar-wrapper {
	height: 636px;
}

.authnameavatar-wrapper .title-wrapper {
	margin-top: 60px;
	width: 62%;
	margin-bottom: 10px;
}

.authnameavatar-wrapper .input-wrapper {
	margin-top: 30px;
	margin-bottom: 36px;
}

.authnameavatar-wrapper .carousel-wrapper {
	height: 242px;
	width: 98%;
	margin-bottom: 24px;
}

/*	2FA	Config	*/

/*	YES	*/
.auth2faconfig-yes-wrapper {
	height: 713px;
	width: 32%;
}

.auth2faconfig-yes-wrapper .title-wrapper {
	margin-top: 60px;
}

.auth2faconfig-yes-wrapper .toggle-wrapper {
	margin-top: 27px;
}

.auth2faconfig-yes-wrapper .qrcode-wrapper {
	margin-top: 62px;
}

.auth2faconfig-yes-wrapper .input-wrapper {
	margin-top: 30px;
}

.auth2faconfig-yes-wrapper .button-wrapper {
	margin-top: 50px;
}

/*	NO	*/
.auth2faconfig-no-wrapper {
	height: 360px;
	width: 32%;
}

.auth2faconfig-no-wrapper .title-wrapper{
	margin-top: 60px;
}

.auth2faconfig-no-wrapper .toggle-wrapper {
	margin-top: 55px;
}

.auth2faconfig-no-wrapper .bottom {
	top: 90%;
}

/* MOBILE */

@media screen and (max-width: 820px) {

	.authstart-wrapper, .auth2fa-wrapper, .authnameavatar-wrapper {
		width:90%;
		right: 5%;
		left:5%;
		top:5%;
		align-items: center;
	}

}