/* DM */
.dm-element {
	display: flex;
	width: 100%;
	height: 100%;
}

/* ASIDE */
.dm-element .dm-aside {
	width: 21%;
	margin-top: 36px;
	background-color: #0A3D62;
	box-shadow: 2px 2px 15px 2px rgba(206, 206, 206, 0.25);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.dm-element .dm-aside > button {
	all: unset;
	width: 102px;
	height: 28px;
	margin: 12px 0 16px 0;
	border-radius: 5px;
	background-color: #F9DA49;
	text-align: center;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 11px;
	color: #0A3D62;
	cursor: pointer;
}

/* Popup */
.dm-aside .popup {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.5);
	z-index: 1;

	display: flex;
	justify-content: center;
	align-items: center;
}

/* New-dm */
.dm-aside .new-dm {
	width: 484px;
	height: 266px;
	background-color: #0A3D62;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.new-dm > img {
	align-self: flex-end;
	padding: 10px 10px 0 0;
	cursor: pointer;
}

.new-dm > h3 {
	margin: 0;
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 30px;
	color: #FDFAD0;
	margin-bottom: 30px;
}

.new-dm .new-dm-buttons {
	display: flex;
	margin-top: 40px;
}

.new-dm .new-dm-buttons button {
	all: unset;
	width: 200px;
	height: 46px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	cursor: pointer;
}

.new-dm .new-dm-buttons button:nth-child(1) {
	background-color: #F9DA49;
	color: #0A3D62;
	margin-right: 20px;
	border: 1px solid #F9DA49;

}

.new-dm .new-dm-buttons button:nth-child(2) {
	background-color: #0A3D62;
	color: #FDFAD0;
	border: 1px solid #FDFAD0;
	border-radius: 10px;
}

/* Input-flat */
.input-flat {
	width: 410px;
	background-color: #FDFAD0;
	border-radius: 5px;
	display: flex;
	align-items: center;
	padding: 4px 7px 4px 7px;
}

.input-flat > input {
	all: unset;
	margin-left: 15px;
	flex-grow: 1;
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 13px;
	color: #0A3D62;
}

.input-flat > input::placeholder {
	font-family: 'Poppins', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 13px;
	color: #0A3D62;
}