#ball {
	background-color: #252525;
	position: absolute;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	left: 47.5%;
	top: 45%;
}

#Game {
	background-color: red;
	height: 300px;
	width: 600px;
	margin: 10%;
	display: inline-block;
	position: relative;
}

#player1 {
	left: 6px;
	background-color: #5055AA;
	height: 90px;
	width: 10px;
	border-radius: 15px;
	display: inline-block;
	position: absolute;
	top: 115px;
}

#player2 {
	right: 6px;
	background-color: #5055AA;
	height: 90px;
	width: 10px;
	border-radius: 15px;
	display: inline-block;
	position: absolute;
	top: 115px;
}

#score1 {
	position: absolute;
	left: 10px;
	top: 10px;
}

#score2 {
	position: absolute;
	right: 10px;
	top: 10px;
}