.chat-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: Arial, Helvetica, sans-serif;
}

.chat-container {
	display: flex;
	flex-direction: row;
	width: 90%;
	height: 90%;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	background-color: #fffde4;
}

.chat-left {
	display: flex;
	flex-direction: column;
	width: 20%;
	height: 100%;
	border-right: 1px solid #e6e6e6;
}

.chat-middle {
	display: flex;
	flex-direction: column;
	width: 20%;
	height: 100%;
	border-right: 1px solid #e6e6e6;
}

.chat-right {
	display: flex;
	flex-direction: column;
	width: 80%;
	height: 100%;
}

.chat-top {
	padding: 15px;
	border-bottom: 1px solid #e6e6e6;
	font-weight: bold;
}

.chat-channel {
	list-style: none;
	padding: 0;
	margin: 0;
	overflow-y: auto;
}

.chat-person {
	display: flex;
	align-items: center;
	padding: 15px;
	cursor: pointer;
}

.chat-person.chat-active {
	background-color: #f9da49;
}

.chat-person:hover {
	background-color: #f3e2a1;
}

.chat-name {
	font-weight: bold;
	color: #0a3d62;
	margin: 1rem;
}

.chat-role {
	font-size: 12px;
	color: #999;
}

.chat-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
	border-bottom: 1px solid #e6e6e6;
	font-weight: bold;
}

.chat-chat {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow-y: auto;
	padding: 15px;
}

.chat-write-link {
	all: unset;
	box-shadow: 0px 10px 15px -3px rgba(10, 61, 98, 0.1);
	color: #0a3d62;
	border: 0.14rem solid #0a3d62;
	border-radius: 1recm;
	cursor: pointer;
	text-align: center;
	border-radius: 10px;
	transition-duration: 0.4s;
	background-color: #f9da49;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 20px;
	width: 10%;
	height: 100%;
}

.chat-bubble {
	display: inline-block;
	max-width: 80%;
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 5px;
}

.chat-you {
	background-color: #1e8ddc;
	align-self: flex-start;
}

.chat-me {
	background-color: #c5c5c5;
	align-self: flex-end;
}

.chat-write {
	padding: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid #e6e6e6;
}

.chat-center {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: large;
}

.chat-container input[type='text'] {
	flex-grow: 1;
	padding: 10px;
	border-radius: 5px;
	border: none;
	outline: none;
}

.chat-container input[type='text']:focus {
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
}

.chat-users-list {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.chat-dropdown-menu-container {
	position: relative;
	width: 200px;
	border: 1px solid #ccc;
	border-radius: 3px;
	font-size: 16px;
	color: #333;
	cursor: pointer;
	max-width: fit-content;
	z-index: 1;
}

.chat-dropdown-menu-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	background-color: #f8f8f8;
}

.chat-dropdown-menu-header span {
	flex-grow: 1;
}

.chat-arrow {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 5px 0 5px;
	border-color: #333 transparent transparent transparent;
}

.chat-arrow.up {
	transform: rotate(180deg);
}

.chat-dropdown-menu-options {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 3px;
	z-index: 2;
}

.chat-dropdown-menu-options li {
	padding: 10px;
	border-bottom: 1px solid #ccc;
}

.chat-dropdown-menu-options li:last-child {
	border-bottom: none;
}

.chat-dropdown-menu-options li:hover {
	background-color: #f8f8f8;
}

.chat-overlay {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 6;
	width: 349px;
	height: 349px;
	background-color: #0a3d62;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.chat-overlay h2 {
	margin: 0;
	font-family: 'YesevaOne', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	color: #fdfad0;
}

.chat-close {
	align-self: flex-end;
	padding: 10px 10px 0 0;
	cursor: pointer;
}

.chat-close:hover {
	opacity: 1;
}

.chat-popup.content {
	max-height: 400px;
	overflow: auto;
}
.chat-content-dm {
	max-height: 400px;
	overflow: auto;
	display: flex;
	flex-direction: column;
	width: -webkit-fill-available;
}
.chat-content form {
	height: 98px;
	width: 74%;
	align-content: center;

	display: flex;
	flex-direction: column;
}

.chat-content form label {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 53px;
	width: 297px;
	background-color: #fdfad0;
	border: 1px solid #0a3d62;
	border-radius: 10px;
	padding: 2px;
	margin-top: 25px;
}

.chat-content form label p {
	margin: 0px 0px 2px 2px;
	font-size: 11px;
	color: #b6b6b6;
	font-family: 'Poppins', sans-serif;
}

.chat-content form label input {
	background-color: #fdfad0;
	border: none;
	color: #0a3d62;
	font-weight: 300;
	width: 90%;
	font-size: 15px;
	font-family: 'Poppins', sans-serif;
}

.chat-content form label select {
	background-color: #fdfad0;
	border: none;
	color: #0a3d62;
	font-weight: 300;
	width: 90%;
	font-size: 15px;
	font-family: 'Poppins', sans-serif;
}

.chat-content form button {
	all: unset;
	box-shadow: 0px 10px 15px -3px rgba(10, 61, 98, 0.1);
	color: #0a3d62;
	border: 0.14rem solid #0a3d62;
	cursor: pointer;
	text-align: center;
	border-radius: 10px;
	transition-duration: 0.4s;
	background-color: #f9da49;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 20px;
	width: 83%;
	height: fit-content;
	position: absolute;
	top: 95%;
}

.chat-content form ul {
	display: flex;
	flex-direction: column;
}

.chat-content form ul li {
	display: flex;
	align-items: center;
	background-color: #fdfad0;
	border: 1px solid #0a3d62;
	border-radius: 10px;
	padding: 2px;
	font-size: 15px;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	color: #0a3d62;
}

.chat-content form ul li button {
	all: unset;
	box-shadow: 0px 10px 15px -3px rgba(10, 61, 98, 0.1);
	color: #0a3d62;
	border: 0.14rem solid #0a3d62;
	cursor: pointer;
	text-align: center;
	border-radius: 10px;
	transition-duration: 0.4s;
	background-color: #f9da49;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 20px;
	width: 43%;
	height: fit-content;
}

.chat-popup p {
	margin: 0 0 1rem;
}
.chat-popup p:last-child {
	margin: 0;
}

.chat-accept-invite {
	font-size: large;
	color: green;
	font-weight: bold;
}

.chat-decline-invite {
	font-size: x-large;
	color: red;
	font-weight: bold;
}

.chat-user-img {
	width: 200px;
	height: 200px;
	margin-right: 10px;
	border-radius: 50%;
	object-fit: cover;
}

.chat-middle ul {
	list-style: none;
	padding: 0;
}

.chat-middle li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	border-bottom: 1px solid #ccc;
}

.chat-friend-img {
	margin-right: 1rem;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	object-fit: cover;
}

.chat-friend-info a {
	display: flex;
	align-items: center;
}

.chat-friend-name {
	margin: 0;
	font-weight: bold;
}

.chat-friend-info span:last-of-type {
	margin-left: auto;
	font-weight: bold;
	color: #555;
}
