.game-invitation-main-div {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: end;
	height: fit-content;
	top: 4%;
	right: 4%;
	width: fit-content;
}

.game-invitation-card {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 120px;
	height: 40px;
	padding-top: 1vh;
	padding-bottom: 1vh;
	padding-left: 1vw;
	padding-right: 1vw;
	margin-top: 1vh;
	margin-bottom: 1vh;

	background: #0A3D62;
	box-shadow: 2px 2px 15px 2px rgba(206, 206, 206, 0.25);
	border-radius: 10px;
}