.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	display: flex;
	flex-direction: row;
	width: 90%;
	height: 90%;
	background-color: #fff;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	background-color: aliceblue;
}

.left {
	display: flex;
	flex-direction: column;
	width: 20%;
	height: 100%;
	border-right: 1px solid #e6e6e6;
}

.middle {
	display: flex;
	flex-direction: column;
	width: 20%;
	height: 100%;
	border-right: 1px solid #e6e6e6;
}

.right {
	display: flex;
	flex-direction: column;
	width: 80%;
	height: 100%;
}

.top {
	padding: 15px;
	border-bottom: 1px solid #e6e6e6;
	font-weight: bold;
}

.channel {
	list-style: none;
	padding: 0;
	margin: 0;
	overflow-y: auto;
}

.person {
	padding: 15px;
	cursor: pointer;
}

.person.active {
	background-color: #f2f2f2;
}

.person:hover {
	background-color: #f9f9f9;
}

.name {
	font-weight: bold;
	margin: 1rem;
}

.role {
	font-size: 12px;
	color: #999;
}

.top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
	border-bottom: 1px solid #e6e6e6;
	font-weight: bold;
}

.chat {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow-y: auto;
	padding: 15px;
}

.bubble {
	display: inline-block;
	max-width: 80%;
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 5px;
}

.you {
	background-color: #dcf8c6;
	align-self: flex-start;
}

.me {
	background-color: #fff;
	align-self: flex-end;
}

.write {
	padding: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid #e6e6e6;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: large;
}

input[type="text"] {
	flex-grow: 1;
	padding: 10px;
	border-radius: 5px;
	border: none;
	outline: none;
}

input[type="text"]:focus {
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
}

.users-list {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.dropdown-menu-container {
	position: relative;
	width: 200px;
	border: 1px solid #ccc;
	border-radius: 3px;
	font-size: 16px;
	color: #333;
	cursor: pointer;
	max-width: fit-content;
	z-index: 1;
}

.dropdown-menu-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	background-color: #f8f8f8;
}

.dropdown-menu-header span {
	flex-grow: 1;
}

.arrow {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 5px 0 5px;
	border-color: #333 transparent transparent transparent;
}

.arrow.up {
	transform: rotate(180deg);
}

.dropdown-menu-options {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 3px;
	z-index: 2;
}

.dropdown-menu-options li {
	padding: 10px;
	border-bottom: 1px solid #ccc;
}

.dropdown-menu-options li:last-child {
	border-bottom: none;
}

.dropdown-menu-options li:hover {
	background-color: #f8f8f8;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.5);
	transition: opacity 200ms;
}

.popup {
	display: flex;
	flex-direction: column;
	margin: 75px auto;
	padding: 20px;
	background: #fff;
	border: 1px solid #666;
	width: 300px;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
	position: relative;
}

.close {
	position: absolute;
	width: 20px;
	height: 20px;
	top: 20px;
	right: 20px;
	opacity: 0.8;
	transition: all 200ms;
	font-size: 24px;
	font-weight: bold;
	text-decoration: none;
	color: #666;
	cursor: pointer;
}

.close:hover {
	opacity: 1;
}

.popup.content {
	max-height: 400px;
	overflow: auto;
}

.popup.p {
	margin: 0 0 1rem;
}
.popup.p:last-child {
	margin: 0;
}

.accept-invite {
	font-size: large;
	color: green;
	font-weight: bold;
}

.decline-invite {
	font-size: x-large;
	color: red;
	font-weight: bold;
}
