/* Popup */
.maininfo-wrapper .popup {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(255, 255, 255, 0.5);
	z-index: 1;

	display: flex;
	justify-content: center;
	align-items: center;
}

/* Profile Config */
.popup .profileconfig-wrapper {
	position: fixed;
	/* top: 212px; */
	/* right: 320px; */
	top: 25%;
	left: 38%;
	z-index: 6;
	width: 349px;
	height: 447px;
	background-color: #0A3D62;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.popup .profileconfig-wrapper > img {
	align-self: flex-end;
	padding: 10px 10px 0 0;
	cursor: pointer;
}

.popup .profileconfig-wrapper h2 {
	margin: 0;
	font-family: 'YesevaOne', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	color: #FDFAD0;
}

/* Input */
.popup .profileconfig-wrapper > .input-wrapper {
	width: unset;
	height: unset;
	margin-top: 38px;
}

.popup .profileconfig-wrapper > .input-wrapper .input-box {
	width: 297px;
	height: 53px;
	background-color: #FDFAD0;
}

.popup .profileconfig-wrapper > .input-wrapper .input-box div:first-child img {
	width: 29px;
	height: 25px;
	border-right: 0.5px solid #B6B6B6;
}

.popup .profileconfig-wrapper > .input-wrapper .input-box div:last-child input, .popup .profileconfig-wrapper > .input-wrapper .input-box div:last-child input::placeholder {
	background-color: #FDFAD0;
	border: none;
	color: #0A3D62;
	font-weight: 300;
}

.popup .profileconfig-wrapper > .input-wrapper .input-box div:last-child p {
	color: #B6B6B6;
}

/*	Carousel	*/
.popup .profileconfig-wrapper > .carousel-wrapper {
	width: 309px;
	height: 175px;
	margin-top: 38px;
}

.popup .profileconfig-wrapper > .carousel-wrapper .left, .popup .profileconfig-wrapper > .carousel-wrapper .right {
	width: 73px;
	height: 95px;
	margin: 0;
	background-color: #FDFAD0;
}

.popup .profileconfig-wrapper > .carousel-wrapper .empty {
	background-color: #0A3D62;
}

.popup .profileconfig-wrapper > .carousel-wrapper .carousel-element div:nth-child(2) {
	margin: 0 12px 0 12px;
	width: 137px;
	height: 138px;
	background-color: #F9DA49;
}