/*	MAIN FRAME */
.main-frame {
	height: 94vh;
	background-color: #FFFDE4;
	box-sizing: border-box;
	box-shadow: 0px 4px 29px 7px rgba(255, 255, 255, 0.5);
	border-radius: 20px;
	min-height: 800px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 0 20px 0;
}

.main-frame h1 {
	margin: 0;
	font-family: 'YesevaOne', sans-serif;
	font-size: 36px;
	color: #0A3D62;
	font-weight: 400;
}

/*	NAVBAR */
.friends .navbar {
	display: flex;
	margin-top: 37px;
	justify-content: space-between;
	align-self: center;
	width: 90%;
}

.friends .navbar button {
	all: unset;
	border-radius: 5px;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	font-size: 13px;
	border: 1px solid #0A3D62;
	width: 142px;
	height: 30px;
}

.friends .navbar .navbarLeft {
	display: flex;
  }


.friends .navbar :not(:first-child) {
	margin-left: 15px;
}

.friends .navbar .inactive {
	color: #0A3D62;
}

.friends .navbar .active, 
.friends .navbar .addFriends {
	background-color: #0A3D62;
	color: #FFFDE4;
}